{%extends 'registration/base.html'%}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock %}

{%block content%}
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card text-center my-5" style="width: 75vw; border: 3px solid #000;">
                <div class="card-body">
                    <h1 class="card-title">Check your Inbox</h1>
                    <h6 class="card-subtitle mb-2 text-muted">We've emailed you instructions for resetting your password. You should receive the email shortly!</h6>
                </div>
              </div>
            <p></p>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{%endblock%}